body {
  font-size: 16px;
  line-height: 22px;
  font-family: sans-serif;
  width: 540px;
  margin: 42px auto;
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: #161616;
  }

  a {
    color: #1b2abf;
  }

  a:hover {
    color: #1b5bbf;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #161616;
    color: #eeeeee;
  }

  a {
    color: #0c98f5;
  }

  a:hover {
    color: #88c9f3;
  }
}

h1,
h2,
h3 {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body,
  h1,
  h2,
  h3 {
    font-size: 20px;
    line-height: 1.2;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: initial;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

hr {
  width: 5px;
  border: 1px solid;
  margin: 32px 0;
}

.centered {
  text-align: center;
  margin: 24px 0 24px 0;
}
